<div class="row mb-5">
    <div class="col-md-4 offset-md-4">
        <app-user-form></app-user-form>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <app-consumer1></app-consumer1>
    </div>
    <div class="col-md-4">
        <app-consumer2></app-consumer2>
    </div>
    <div class="col-md-4">
        <app-consumer3></app-consumer3>
    </div>
</div>
<br>
<hr>
<h2 class="bg-secondary mb-5 p-4 text-center">Posts Cards</h2>
<div class="row mb-5">
    <div class="col-md-4 mb-5" *ngFor="let  post of postsData">
        <app-card [post]="post"></app-card> 
       </div>
 </div>
   <!-- <div class="card mt-5">
        <div class="card-header">
           <h2>title</h2>
        </div>
        <div class="card-body">
            <p>body: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, voluptatum?</p>
            <p>userId: 1</p>
        </div>
    </div>-->

